<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th *ngFor="let item of tableHeaders">
                            {{item.value}} <br/>
                            <input type="text" name="txtTitle" [(ngModel)]=headerModel[item.key] *ngIf="item.search" placeholder="search ..." (input)="doSearch(item.key, headerModel[item.key])" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of movieList | paginate: { itemsPerPage: pSize, currentPage: p }">
                        <td>
                            <a [href]="item.movie_imdb_link"> {{item.movie_title}} </a> </td>
                        <td> {{item.director_name}} </td>
                        <td> {{item.actor_1_name + "," +item.actor_2_name}} </td>
                        <td> {{item.genres | vbarsplitter}} </td>
                        <td> {{item.language}} </td>
                        <td> {{item.country}} </td>
                        <td> {{item.content_rating}} </td>
                        <td> {{item.budget}} </td>
                        <td> {{item.title_year}} </td>
                        <td> {{item.plot_keywords | vbarsplitter}} </td>
                    </tr>
                </tbody>
            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>